$themes: (
  lightTheme: (
    'main-color': #fff,
    'secondary-color': #ccc,
    'main-text-color': #222,
    'secondary-text-color': #888,
    'link-color': #509,
    'link-hover-color': #70b,
    'link-visited-color': #70b,
    'upvote-color': red,
    'downvote-color': blue,
    'editor-cover-color': rgba(0, 0, 0, 0.5),
    'danger-color': red,
    'danger-hover-color': #a00,
    'success-color': #0a0,
    'success-hover-color': green,
  ),
  darkTheme: (
    'main-color': #222,
    'secondary-color': #ccc,
    'main-text-color': #bbb,
    'secondary-text-color': #666,
    'link-color': #509,
    'link-hover-color': #70b,
    'link-visited-color': #70b,
    'upvote-color': red,
    'downvote-color': blue,
    'editor-cover-color': rgba(0, 0, 0, 0.5),
    'danger-color': red,
    'danger-hover-color': #a00,
    'success-color': #0a0,
    'success-hover-color': green,
  ),
);

$theme-map: null;

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme-get($key) {
  @return map-get($theme-map, $key);
}

$icon-size: 40px;
$reaction-add-popup-space: 0.5vw;

$response-indent: 30px;

$small-screen: 600px;
$medium-screen: 950px;
$large-screen: 1200px;

$h1-font-size: 2.5rem;
$h2-font-size: 2.3rem;
$h3-font-size: 2.1rem;
$h4-font-size: 1.9rem;
$h5-font-size: 1.8rem;
$h6-font-size: 1.7rem;
$p-font-size: 1.7rem;

$border-radius: 20px;
