$main-color: #eee;
$secondary-color: #ccc;
$main-text-color: #222;
$secondary-text-color: #888;
$link-color: #509;
$link-hover-color: #70b;
$link-visited-color: #70b;
$upvote-color: red;
$downvote-color: blue;
$close-color: red;

$reaction-icon-size: 3vw;
$reaction-add-popup-space: 0.5vw;

$response-indent: 1.5vw;

$small-screen: 600px;
$medium-screen: 900px;
$large-screen: 1200px;