@use 'variables' as v;

#root {
  justify-content: center;
  padding: 5vw 15vw;
  display: flex;
  flex-direction: column;
  row-gap: 5vw;
}

.icon {
  height: v.$reaction-icon-size;
  aspect-ratio: 1 / 1;
  fill: v.$main-text-color;

  &:hover {
    cursor: pointer;
    fill: v.$secondary-text-color;
  }

  &.active {
    &.upvote {
      fill: v.$upvote-color;
    }

    &.downvote {
      fill: v.$downvote-color;
    }
  }
}
