@use 'variables' as v;

#root {
  justify-content: center;
  padding: 5vw 15vw;
  display: flex;
  flex-direction: column;
  row-gap: 5vw;
}

.icon {
  height: v.$reaction-icon-size;
  aspect-ratio: 1 / 1;
  @include v.theme() {
    fill: v.theme-get('main-text-color');
  }

  &:hover {
    cursor: pointer;
    @include v.theme() {
      fill: v.theme-get('secondary-text-color');
    }
  }

  &.active {
    &.upvote {
      @include v.theme() {
        fill: v.theme-get('upvote-color');
      }
    }

    &.downvote {
      @include v.theme() {
        fill: v.theme-get('downvote-color');
      }
    }
  }
}
