@use "../../variables" as v;

.message-container {
  border-width: 0.1vw;
  min-width: 100px;

  @include v.theme() {
    border-color: v.theme-get("secondary-color");
  }

  &.root-message {
    padding-bottom: var(--indent);
  }

  &:not(.root-message) {
    border-left-style: solid;
    width: calc(100% - var(--indent));
    margin-left: var(--indent);
  }

  .message-content {
    padding: var(--indent);
  }

  .message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
