@use '../../variables' as v;

.message-author-container {
  display: inline-flex;
  height: var(--profile-image-size);

  .profile-image-wrapper {
    margin-right: calc(var(--profile-image-size) / 8);
    aspect-ratio: 1 / 1;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;

    .name {
      @media (max-width: v.$medium-screen) {
        display: none;
      }
    }

    .intro {
      @include v.theme() {
        color: v.theme-get('secondary-text-color');
      }
    }

    .user-name,
    .intro {
      @media screen and (max-width: v.$medium-screen) {
        font-size: calc(var(--p-font-size) * 1.25);
        line-height: calc(var(--p-font-size) * 1.4);
      }
    }
  }
}
