@use "../../variables" as v;

.message-modify {
  display: flex;
  column-gap: 1vw;
}

.message-delete {
  &.danger {
    @include v.theme() {
      fill: v.theme-get("danger-color");
    }

    &:hover {
      @include v.theme() {
        fill: v.theme-get("danger-hover-color");
      }
    }
  }
}
