@use '../../variables.scss' as v;

.user {
  @include v.theme() {
    border: 1px solid v.theme-get("secondary-color");
  }

  width: var(--main-content-width);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  max-width: 60%;

  .profile-image-wrapper {
    width: 20%;
  }
}