@use "../../variables" as v;

.group-member-element {
  display: inline-flex;
  height: calc(var(--profile-image-size) / 2);
  max-width: 80%;

  .name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  .profile-image-wrapper {
    margin-right: calc(var(--profile-image-size) / 8);
  }
}
