@use '../variables' as v;

.add-root-message {
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  height: 4vh;
  width: 4vh;
  background-color: white;
  border-radius: 50%;

  @media screen and (max-width: v.$small-screen) {
    height: 20vw;
    width: 20vw;
  }
  
  svg {
    height: calc(100% + .3vh);
    width: calc(100% + .3vh);

    position: relative;
    top: -.15vh;
    left: -.15vh;

    @include v.theme() {
      fill: v.theme-get('success-color');
    }
    &:hover {
      cursor: pointer;
      @include v.theme() {
        fill: v.theme-get('success-hover-color');
      }
    }
  }
}
