@use '../variables' as v;

.editor-container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include v.theme() {
    background-color: v.theme-get('editor-cover-color');
  }

  .editor {
    width: 60vw;
    padding: 0 15vw;

    @media screen and (max-width: v.$medium-screen) {
      width: 100vw;
    }

    #editor-text {
      overflow: hidden;
    }

    #submit-button, #close-button {
      height: calc(2 * v.$icon-size);
      width: calc(2 * v.$icon-size);
        position: static;
        margin-top: 25px;
    }

    #submit-button {
      @include v.theme() {
        fill: v.theme-get('success-color');
      }
  
      &:hover {
        cursor: pointer;
        @include v.theme() {
          fill: v.theme-get('success-hover-color');
        }
      }
    }

    #close-button {
      @include v.theme() {
        fill: v.theme-get('danger-color');
      }
  
      &:hover {
        cursor: pointer;
        @include v.theme() {
          fill: v.theme-get('danger-hover-color');
        }
      }

      margin-left: calc(50% - v.$icon-size * 2.5);
      margin-right: v.$icon-size;
    }
  }
}
