@use '../variables' as v;

.editor-container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include v.theme() {
    background-color: v.theme-get('editor-cover-color');
  }

  .editor {
    width: 60%;

    #editor-text {
      overflow: hidden;
    }

    #submit-button,
    #editor-close-button {
      height: 4vw;
      width: 100%;
      font-size: 1.75vw;
    }
  }
}
