@use '../variables' as v;

.group-member-element {
  display: flex;
  height: v.$icon-size;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 66%;
    overflow: hidden;
  }
}