@use "../variables" as v;

.group-member-element {
  display: flex;
  height: calc(var(--profile-image-size) / 2);

  .name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 66%;
    overflow: hidden;
  }
}
