@use '../variables' as v;

.group-infos {
  @include v.theme() {
    border: 1px solid v.theme-get('secondary-color');
  }

  border-radius: 1vw;
  padding: 1vw;
  width: 22vw;

  h2 {
    margin-bottom: 2vw;
    font-size: 2vw;
    text-align: center;
  }

  div {
    margin-bottom: 2vw;

    h3 {
      text-align: center;
      font-weight: bold;
      font-size: 1.6vw;
    }
  }
}