@use '../variables' as v;

.group {
  .group-columns {
    display: flex;
    gap: 2vw;
  }

  h1 {
    width: 100%;
    margin-bottom: 2vw;
  }

  .group-columns {
    .center-column {
      display: flex;
      flex-direction: column;
      gap: 2vw;
      margin: 0 auto;

      @media screen and (min-width: v.$medium-screen) and (max-width: v.$large-screen) {
        width: 100%;
        margin: 0;
      }

      & > div {
        width: 100%;
        max-width: 1000px;

        @media screen and (max-width: v.$medium-screen) {
          min-width: 0;
        }
      }
    }

    .left-column,
    .right-column {
      position: sticky;
      align-self: flex-start;
      top: 5vw;

      & > div {
        width: 22.5vw;
        max-width: 500px;
        min-width: 200px;
        padding: var(--indent);

        & > div:not(:last-of-type) {
          margin-bottom: 1rem;
        }
      }

      @media screen and (max-width: v.$medium-screen) {
        display: none;
      }
    }
  }
}
