@use "../variables" as v;

.group-member-modify {
  float: right;

  .group-member-modify-popup {
    display: inline-block;
    position: absolute;
    left: 100%;
    z-index: 9999999;
    border-radius: calc(var(--border-radius) / 2);

    @include v.theme() {
      background-color: v.theme-get("secondary-color");
    }

    p {
      margin: 0;
      padding: 0.5rem;
      cursor: pointer;
      @include v.theme() {
        color: v.theme-get("main-color");
      }

      &:hover {
        @include v.theme() {
          background-color: v.theme-get("secondary-text-color");
        }
      }
    }
  }
}
