@use '../variables' as v;

.message-author-container {
  display: inline-flex;
  height: var(--profile-image-size);

  .intro {
    @include v.theme() {
      color: v.theme-get('secondary-text-color');
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .name {
      @media (max-width: v.$medium-screen) {
        display: none;
      }
    }

    .user-name,
    .intro {
      @media screen and (max-width: v.$medium-screen) {
        font-size: calc(var(--p-font-size) * 1.25);
        line-height: calc(var(--p-font-size) * 1.4);
      }
    }
  }
}
