.message-actions {
  width: 100%;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5vw;

  .icon {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--main-text-color);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    &:hover {
      cursor: pointer;
      background-color: var(--secondary-color);
    }

    &.upvote {
      mask: url('../../public/assets/images/upvote.svg');
    }

    &.downvote {
      mask: url('../../public/assets/images/downvote.svg');
    }

    &.response {
      mask: url('../../public/assets/images/response.svg');
    }
  }
}