:root {
  --reaction-icon-size: 3vw;
  --reaction-add-popup-space: 0.5vw;
}

.message-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5vw;
  position: relative;

  .reactions-container {
    position: absolute;
    right: 0;
    display: flex;

    .common-reactions {
      display: flex;
      flex-direction: row-reverse;

      .common-reaction-emoji {
        img {
          height: 3vw;
          filter: drop-shadow(0.1vw 0 0 var(--main-color));
        }

        &:not(:first-child) {
          margin-right: -0.85vw;
        }
      }
    }

    .add-reaction-container {
      .add-reaction-popup {
        position: absolute;
        bottom: calc(var(--reaction-icon-size) + 0.5vw);
        right: calc(var(--reaction-icon-size) / 2 - 10vw);
        height: 90%;
        width: 20vw;
        background-color: var(--secondary-color);
        border-radius: 1vw;
        display: none;
        justify-content: space-around;

        .add-reaction-popup-emoji {
          height: calc(var(--reaction-icon-size) * 0.75);
          transform: translateY(calc(var(--reaction-icon-size) * 0.125));

          &:hover {
            transform: scale(1.1);
          }
        }

        &:hover {
          display: flex;
        }
      }

      .add-reaction-button {
        margin-left: 1vw;
        // height: 200%;
        // transform: translateY(-50%);
        // display: flex;
        // align-items: flex-end;

        &:hover {
          cursor: pointer;

          & ~ .add-reaction-popup {
            display: flex;
          }
        }

        .add-reaction-icon:hover {
          fill: var(--main-text-color);
        }
      }

      .space-holder {
        height: var(--reaction-add-popup-space);
        width: var(--reaction-icon-size);
        bottom: var(--reaction-icon-size);
        position: absolute;

        & ~ .add-reaction-popup {
          display: flex;
        }
      }
    }
  }
}

.icon {
  height: var(--reaction-icon-size);
  aspect-ratio: 1 / 1;
  fill: var(--main-text-color);

  &:hover {
    cursor: pointer;
    fill: var(--secondary-text-color);
  }

  &.active {
    &.upvote {
      fill: var(--upvote-color);
    }

    &.downvote {
      fill: var(--downvote-color);
    }
  }
}
