.message-actions {
  width: 100%;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5vw;

  .icon {
    height: 100%;
    aspect-ratio: 1 / 1;

    &:hover {
      cursor: pointer;
      fill: var(--secondary-color);
    }
  }
}