.message-author-container {
    display: flex;
    height: 5vw;
}

p.intro {
    color: var(--secondary-text-color);
}

.profile-image {
    aspect-ratio: 1 / 1;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1vw;
}