@use '../variables' as v;

.message-container {
  border-color: v.$secondary-color;
  border-width: .1vw;

  &.root-message {
    border-radius: 1vw;
    border-style: solid;
    width: 100%;
    padding-bottom: v.$response-indent;
  }

  &:not(.root-message) {
    border-left-style: solid;
    width: calc(100% - v.$response-indent);
    margin-left: v.$response-indent;
  }

  .message-content {
    padding: 1.5vw;
  }

  .message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
